.new_user {
  border: 1px solid black;
  height: 50%;
  width: 50%;
  position: absolute;
  min-width: 300px;
  margin: 0px auto
}

h2 {
  margin-left: 25px;
}

.notification {
  margin-left: 150px;
}

#notice {
  color: green;
}

#alert {
  color: red;
}
